.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: -17px;
    background-color: #fff;
    border-radius: 20px;
}

.container .descbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container .descbar .buttons {
    background-color: transparent;
    border: 0;
    font-size: .8rem;
    margin-top: 2rem;
    margin-left: .2rem;
    cursor: pointer;
}

.container .descbar .buttons:hover {
    background-color: transparent;
    font-size: .8rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.container .divaboutpoke {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 10px;
}

.container .aboutpokep .aboutp {
    max-width: 3.5rem;
    font-weight: 350;
    font-size: small;
}

.container .aboutpokespan .descp {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
    font-weight: 400;
    font-size: small;
}

.container .aboutpokespan {
    margin-left: 1.6rem;
}

.content3 {
    display: flex;
    flex-direction: column;
    align-items: start;

    height: 100%;
}

.content3 .title h3 {
    font-size: small;
}

.content3 .breedingContainer {
    display: flex;
    flex-direction: column;
}

.content3 .breedingContainer .breedingDesc {
    font-size: small;
    font-weight: 350;
    height: 1.7rem;
    width: auto;
}

.content3 .breedingContainer .breedingDesc span {
    font-weight: normal;
    
    margin-left: 1rem;
}

.content3 .breedingContainer .breedingDesc .per {
    margin-left: 2.6rem;
}

.content3 .breedingContainer .breedingDesc #eggCycleContent {
    margin-left: 1.6rem;
}

@media (min-width: 992px){
    .container .divaboutpoke {
        justify-content: center;
    }
    
    .content3 {
        align-items: center;
    }

    .container {
        max-height: 555px;
    }

    .container .descbar .buttons {
        background-color: transparent;
        border: 0;
        font-size: .8rem;
        margin-top: .3rem;
        margin-left: .2rem;
        cursor: pointer;
    }
}

@media (min-width: 1192px){
    .container .divaboutpoke {
        justify-content: center;
    }
    
    .content3 {
        align-items: center;
    }

    .container {
        max-height: 740px;
    }
}

@media (min-width: 1360px) {

    .container .divaboutpoke {
        justify-content: center;
    }
    
    .content3 {
        align-items: center;
    }

    .container {
        max-height: 740px;
    }
}

@media (min-width: 1920px){

    .container .divaboutpoke {
        justify-content: center;
    }
    
    .content3 {
        align-items: center;
    }

    .container {
        margin-top: -3.8rem;
        max-height: 1009px;
    }
}